<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>
  hljs.configure({
    languages: ['js', 'html', 'css'],
    tabReplace: '    '
  });
  hljs.initHighlightingOnLoad();

  $(function() {
    setTimeout(function() {
      $('.code-cover').each(function() {
        $(this).css({
          display: 'block',
          top: $(this).prev().position().top - 50 + 'px',
          height: $(this).prev().outerHeight() + 100 + 'px',
          lineHeight: $(this).prev().outerHeight() + 100 + 'px'
        });
      }).click(function() {
        $(this).fadeOut(200);
      });

    }, 100);

    $('.code-link').each(function() {
      if (this.href) {
        return;
      }
      var code = $(this).parent().next('pre').get(0).innerText;
      if ($(this).data('prefix')) {
        code = $(this).data('prefix') + '\n\n' + code;
      }
      this.href = '/learn/playground/?code=' + encodeURIComponent(code);
      this.target = '_blank';
    });
  });
</script>
